<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href="/css/prettify.css">
  <link rel="stylesheet" type="text/css" href="/css/doc.css">
  <title>doc</title>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <li id="toggle_btn">toggle_all</li>
  </div>
  <div class="clear"></div>
  <div id="content">
    <%= @docs %>
  </div>
</div>
<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/prettify.js"></script>
<script src="/js/doc.js"></script>
</body>
</html>
