<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href="/css/prettify.css">
  <link rel="stylesheet" type="text/css" href="/css/jslide.css">
  <title>slide</title>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <ul>
      <li id="right_slide">&gt;</li>
      <li id="left_slide">&lt;</li>
      <li id="print">toggle</li>
    </ul>
  </div>
  <%= @slides %>
</div>
<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/jslide.js"></script>
<script src="/js/prettify.js"></script>
</body>
</html>
